<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <insert id="insertUserByObject" parameterType="com.abocado.spring.ex.jsp.domain.User"
 useGeneratedKeys="true" keyProperty="id">
 	INSERT INTO
 		`new_user`
 	(
 		`name`
 		,`yyyymmdd`
 		, `email`
 		, `introduce`		
 	)
 	VALUE
 	(
 		#{name}
 	)
 </insert>